body {
    background-color: #35363b;
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


header {
    padding-bottom: 1px;
}

header span {
    opacity: 70%;
    right: 0;
    bottom: 0;
    padding: 0 5px 0;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

div #wrapper {
  padding: 10px;
  width: 50%;
  margin: auto;
  background-color: #fff;
  opacity: 90%;
}

a.internal-vocab-reference {
  text-decoration: underline;
  font-weight: bold;
  color: #000;
}

a.external-vocab-reference {
  font-weight: bold;
}

span.speaker {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  color: darkred;
  width: 10%;
}

span.dialogue {
  display: inline-block;
  vertical-align: top;
}

table {
  border-style: solid;
  border-color: #aaaaaa;
  border-collapse: collapse;
  border-width: 1px;
  border-spacing: 0px;
  margin-bottom: 1.5em;
  margin-top: 0.0em;
  width: 100%;
}

tr {
  border-style: inset;
  border-color: #aaaaaa;
  border-width: 1px;
}

th {
    width: 50%;
}

td {
  border-style: inset;
  border-color: #aaaaaa;
  border-width: 1px;
  padding: 2px;
  width: 50%;
}
